<div class="basic-grey">
  <%= form_tag '/login' do %>
    <h1>Login
        <span>Preencha os campos abaixo para logar.</span>
    </h1>
    <span>Identificador: <%= text_field_tag :identificador %></span>
    <span>Senha: <%= password_field_tag :password %></span>
    <%= submit_tag "Logar" %>

  <% end %>
</div>
