<h2>Materiais Motivadores:</h2>

<div class="post-content no-padding">
  <% @material_motivadors.each do |m| %>
    <%= link_to m.titulo, material_motivador_path(m), class: 'link' %>
  <% end %>
</div>
