<div class="main">
  <div class="container">
  <h2>Turmas disponíveis</h2>

    <% @turmas.each do |t| %>
      <h3> <%= t.ano+t.turma %> </h3>
      <p>Escola: <i><%= t.escola.nome %></i> </p>
      <p> <%= t.descricao %> </p>
      <%= link_to "Ver Professores e Alunos", turma_path(t) %>
    <% end  %>

  </div>
</div>
